<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

   <!-- <add name="BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=blobexample1;AccountKey=khWeUVdp71wemkxt8iasRCLwF0p/HSVnVeY/lhJ9k0HyLTjaChwi2/67c75XzApphV+SdxGSPTAM+AStTsagoA==;EndpointSuffix=core.windows.net" ></add>-->
    <!--<add name="NameContainer" connectionString="audio" ></add>-->
    <!--<add name="BlobStorage" connectionString="AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;"/>
    -->
    <add name="BlobStorage" connectionString="AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;"/>


    <add name="NameContainer" connectionString="d6bf35c7-aa78-4e73-a16a-3fdab97cc42e" ></add>
  </connectionStrings>


</configuration>